body {
  font-family: inherit;
  font-weight: 300;
}

#title {
    margin-left: 20px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(https://i.imgur.com/P9fMzK1.jpg);
  background-size: cover;
  color: #ffffff;
  height:700px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: white;
}

.jumbotron h2 {
  margin: 0px;
  color: white;
  height:240px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#AboutMeText {
    font-family: inherit;
    font-size: 16px;
    float: left;
    display: block;
    margin-left: 20px;
    width: 80Vh;
    height: 10Vh
}

#DrumLessonsText {
    font-family: inherit;
    font-size: 16px;
    float: left;
    display: block;
    margin-left: 20px;
    width: 80Vh;
    height: 10Vh
    
}

#ContactMeText{
 font-family: inherit;
    font-size: 16px;
    float: left;
    display: block;
    margin-left: 20px;
    width: 80Vh;
    height: 10Vh   
}
